.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #123F37;
  border: 1px solid #123F37;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #4FFEBE;
  color: #ffffff;
}

.event-header {
  background: #FAC83A;
  color: #123F37;
  padding: 15px;
  position: relative;
  font-family: 'Lobster', sans-serif;
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
}

.form-label {
  color: #123F37;
  text-decoration: underline;
  text-decoration-color: #4FFEBE;
}

.col-form-label {
  color: #123F37;
  text-decoration: underline;
  text-decoration-color: #4FFEBE;
}

.event-buttons {
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#new_event {
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  margin-bottom: 25px;
  border-radius: 5px;
  margin-left: 5px;
}

.btn-secondary {
  margin-bottom: 25px;
  border-radius: 5px;
}

// #category {

// }
