// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "show";
@import "event";

.container-index-title {
  background: #FAC83A;
  padding: 11px;
  position: relative;
  margin-bottom: 25px;
}

.index-title {
  color: #123F37;
  font-size: 45px;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 10px;
}

.index-search-form {
  text-align: center;
  padding-bottom: 30px;
  border-radius: 10px;
}

.index-form-control {
  margin: 71px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.btn-index {
  border-radius: 4px;
  margin-top: 15px;
}

.index-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  padding-bottom: 30px;
}

.container-index-card {
  background-color: #AFE9DE;
  border-radius: 4px;
  width: 80%;
  padding: 0px;
  border: 5px solid #123F37;
  position: relative;
}

.index-card {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-img-top {
  border-radius: 0px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.index-card-text-name {
  font-family: 'Poppins', sans-serif;
  padding-left: 12px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
  color: #123F37;
  text-decoration: none;
}

.index-card-text-restaurant {
  font-family: 'Poppins', sans-serif;
  padding-left: 12px;
  font-style: italic;
  font-size: 20px;
  color: #123F37;
  text-decoration: none;
  padding-bottom: 10px;
}

.index-card-icons {
  color: #4FFEBE;
  position: absolute;
  top: 200px;
  left: 230px;
}

a {
  text-decoration: none !important;
}
