
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.my-2-profile {
  margin-top: 30px;
  margin-bottom: 0px;
}

.container-bio {
  margin-top: 0px;
}

.container-bio-header {
  margin-bottom: -60px;
}

#stars {
  color: gold;
}
