.resume-title {
  background: #FAC83A;
  position: relative;
  color: #123F37;
  font-size: 45px;
  padding: 29px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 27px;
}

.resume-title h1 {
  font-family: 'Lobster', sans-serif !important;
  font-size: 35px;
}

.check_box {
  margin-right: 8px;
  margin-bottom: 25px;
}

.submit_button {
  background: #4FFEBE;
  color: #123F37;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif !important;
  // font-weight: bold !important;
  border: 2px solid #123F37;
  margin-bottom: 30px;
  margin-left: 30%;
  margin-top: 10px;
}
