<div class="container chatpage">
  <% @chatrooms.each do |chat| %>
    <div class="chat-product">
      <% if chat.photo.attached? %>
        <%= cl_image_tag chat.photo.key %>
      <% end %>
        <div class="chat-product-infos">
          <h2><%= link_to chat.name, chatroom_path(chat) %></h2>
          <p>Last seen: <%= chat.created_at %></p>
        </div>
    </div>
  <% end %>
</div>
