<nav class="bottom-nav">
  <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
      <i class="fas fa-search icon fa-2x"></i>
    <% end %>
  </div>
  <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
     <i class="fa fa-rss icon fa-2x"></i>
    <% end %>
  </div>
   <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
     <i class="far fa-comments icon fa-2x"></i>
    <% end %>
  </div>
   <div class="nav__link nav__link--active">
    <%= link_to myprofile_path do %>
      <i class="fas fa-user-alt icon fa-2x"></i>
    <% end %>
  </div>
</nav>
