<!DOCTYPE html>
  <head>
    <link rel="stylesheets" href="style.css">
    <div class="container">
      <div class="container-homepage">
        <h1 class="landing-title">MyChef</h1>
        </div>
    </div>
  </head>
  <body>
    <div class="search-bar">
      <%= link_to "EXPLORE", chefs_path %>
    </div>
      <h2 class="trending-title" style="margin-top: 70px;">TRENDING</h2>
      <%= link_to "Profile", myprofile_path %>
  </body>
</html>