.chatroom {
  background: white;
  // margin-top: 9px;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 0;
    padding: 1rem;
    margin-left: 40px;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 0.5rem 0;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.backbtn {
  position: absolute;
  right: 20px;
  margin: 10px;
  font-size: 20px;
  top: 15px;
}

.chat-product {
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 50px;
}

.chat-product img {
  height: 87px;
  padding: 10px;
  width: 88px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.chat-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.chat-product .chat-product-infos {
  padding: 16px;
}

.chat-avatar {
  padding: 15px 15px 0 15px;
}

.chat-avatar img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  position: absolute;
  left: 14px;
  top: 30px;
}

#message-content p {
  font-size: 20px;
  margin: 0;
}

#message-content {
  border-radius: 26px;
  padding: 9px 20px;
  height: auto;
  // background-color: #0084FF;
  color: white;
  width: fit-content;
}

#message-name {
  font-size: 18px;
  display: flex;
  justify-items: unset;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 1px;
  margin-top: 10px;
}

#message-time {
  display: flex;
  justify-items: unset;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
}

.upload-photo {
  cursor: pointer;
  font-weight: 500;
  background: white;
  font-size: 28px;
  padding-top: 12px;
}

.sent-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  #message-content {
    background-color: #0084FF;
    border-top-right-radius: 2px;
  }
}

.received-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  #message-content {
    background-color: gray;
    border-top-left-radius: 2px;
  }
}

.message_content, .message_photo {
  margin: 0 !important;
}

#new_message {
  .btn-primary {
    margin: 0 6px;
  }
}
