body{
  margin-top:20px;
  background:#eee;
  }

  /* Social feed */
  .username-style {
    text-decoration: underline;
    font-weight: 550;
  }

  .postbtn {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 55px;
    padding: 20px;
    z-index: 1;
    font-family: lobster;
    font-size: larger;
    background-color: #8abb8a;
  }

  .btn-group-feed {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-group-feed > .btn{
    color: gray !important;
  }

  .feed-header {
    background: #FAC83A;
    position: relative;
    color: #123F37;
    font-size: 45px;
    padding: 27px;
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-top: 25px;
  }

  .social-feed-box {
    /*padding: 15px;*/
    background: #fff;
    margin-bottom: 15px;
    box-shadow: #123F37;
  }

  .social-action {
    margin: 15px;
  }

  .social-avatar {
    padding: 15px 15px 0 15px;
  }

  .social-comment .social-comment {
    margin-left: 45px;
  }

  .social-avatar img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .social-avatar .media-body a {
    font-size: 14px;
    display: block;
  }

  .social-body {
    padding: 15px;
  }

  .social-body img {
    margin-bottom: 10px;
  }

  .social-footer {
    border-top: 1px solid #e7eaec;
    padding: 10px 15px;
    background: #f9f9f9;
  }

  .social-footer .social-comment img {
    width: 32px;
    margin-right: 10px;
  }

  .social-comment:first-child {
    margin-top: 0;
  }

  .social-comment {
    margin-top: 15px;
  }

  .social-comment textarea {
    font-size: 12px;
  }

  .img-repsonsive {
    // border-radius: 0px;
    max-width: 100%;
    // max-height: 100%;
    object-fit: cover;
  }

  .form-control, .single-line {
      background-color: #FFFFFF;
      background-image: none;
      border: 1px solid #e5e6e7;
      border-radius: 1px;
      color: inherit;
      display: block;
      padding: 6px 12px;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      width: 100%;
      font-size: 14px;
  }
