.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.map {
  margin-top: 10px;
}

.mapbtn {
  display: flex;
  justify-content: flex-end;
  flex-direction: unset;
  margin: 6px;
  font-size: 19px;
  padding-right: 8px;
  padding-top: 2px;
}
