 <div class="resume-title">
   <div class="backbtn edit-user-button">
    <%= link_to myprofile_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
    <h1>Create Resume</h1>
  </div>
  <%= render 'form' %>
